body{
background-color: rgb(255, 255, 255);
}
.logo{
  font-family: "Optima", sans-serif; 
  font-size: 130px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-left: 400px;
}
.title {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 40px;
    font-family:'Trebuchet', sans-serif;
    margin-left: 210px;
  }

  .search{
    transform: translateY(-60px);
    width: 500px;
  }
  
  * {box-sizing: border-box;}
  form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #c2c2c2;
  }
  input, button {
    border: none;
    outline: none;
    background: transparent;
  }
  input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
  }
  button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
  }




.book-1-img{
  width: 300px;
  margin-left: 210px;
}
.book-1-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  transform: translateX(210px);
}



.book-2-img{
  width: 300px;
  height: 468px;
  margin-left: 85px;
}
.book-2-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  transform: translateX(85px);
}



.book-3-img{
  width: 300px;
  height: 468px;
  margin-left: 85px;
}
.book-3-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  transform: translateX(85px);
}


.book-4-img{
  width: 300px;
  height: 468px;
  margin-left: 85px;
}
.book-4-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  transform: translateX(85px);
}


.book-5-img{
  width: 300px;
  height: 468px;
  margin-left: 210px;


}
.book-5-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  transform: translateX(210px);

}

.book-6-img{
  width: 300px;
  height: 468px;
  margin-left: 85px;

}
.book-6-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  transform: translateX(85px);

}

  
.book-7-img{
  width: 300px;
  height: 468px;
  margin-left: 85px;

}
.book-7-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  transform: translateX(85px);

}


.book-8-img{
  width: 300px;
  height: 468px;
  margin-left: 85px;

}
.book-8-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  transform: translateX(85px);
}





.button_1728138346985 {
  display: inline-block !important;
  text-decoration: none !important;
  background-color: #eaeaea !important;
  color: #006089 !important;
  border: 3px solid #006089 !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  padding: 0px 6px !important; 
  transition: all 0.8s ease !important;
}
.button_1728138346985:hover{
  text-decoration: none !important; 
  background-color: #006089 !important;
  color: #ffeded !important;
  border-color: #006089 !important;
}


body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

.paginator {
  width: 280px;
  padding: 10px;
  margin: 30px auto;
  white-space: nowrap;
  background: #ecf0f1;
}

.paginator a,
.paginator span {
  display: inline-block;
  min-width: 20px;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background: #95a5a6;
}

.paginator .prev {
  text-indent: -1000px;
  margin-right: 20px;
  background-image: url("https://htmlacademy.ru/assets/course14/arrows.png");
  background-repeat :no-repeat ;
  background-position: 0px 0px;
}

.paginator .next {
  text-indent: -1000px;
  margin-left: 20px;
  background-image: url("https://htmlacademy.ru/assets/course14/arrows.png");
  background-repeat :no-repeat ;
  background-position: 0px -40px;
}
.paginator .current {
  background-color: #16a085;
}

.paginator .disabled {
  opacity: 0.3;
}

.paginator a:hover {
  background-color: #2ecc71;
}