body{
background-color: rgb(255, 255, 255);
}
.logo{
  font-family: "Optima", sans-serif; 
  font-size: 130px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-left: 400px;
}
.title {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 40px;
    font-family:'Trebuchet', sans-serif;
    margin-left: 210px;
  }

  .search{
    transform: translateY(-60px);
    width: 500px;
  }
  
  * {box-sizing: border-box;}
  form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #c2c2c2;
  }
  input, button {
    border: none;
    outline: none;
    background: transparent;
  }
  input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
  }
  button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
  }




  

.book-1-img{
  width: 300px;
  margin-left: 210px;
}
.book-1-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 12px;

}



.book-2-img{
  width: 300px;
  height: 468px;
  margin-left: 85px;
}
.book-2-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 100px;
  transform: translateY(63px);
}



.book-3-img{
  width: 300px;
  height: 468px;
  margin-left: 85px;
}
.book-3-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 200px;
  transform: translateY(95px);
}


.book-4-img{
  width: 300px;
  height: 468px;
  margin-left: 85px;
}
.book-4-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 50px;
  transform: translateY(-1560px);
}


.book-5-img{
  width: 300px;
  margin-left: 210px;
  transform: translateY(150px);

}
.book-5-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 600px;
  transform: translateY(-1560px);
}

.book-6-img{
  width: 300px;
  margin-left: 85px;
  transform: translateY(150px);
}
.book-6-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 50px;
  transform: translateY(150px);
}

  
.book-7-img{
  width: 300px;
  margin-left: 85px;
  transform: translateY(150px);
}
.book-7-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 50px;
  transform: translateY(150px);
}


.book-8-img{
  width: 300px;
  margin-left: 85px;
  transform: translateY(150px);
}
.book-8-text{
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: px;
  transform: translateY(-3220px);
}





  



  


